#transcribeRootWidget, 
#translateRootWidget,
#configRootWidget {
  padding: 5px;
  align-items: 'center';
}

#audioFileRootWidget,
#translateFileRootWidget {
  padding: 15px;
}

#transcribeTitleWidget, 
#translateTitleWidget, 
#configTitleWidget {
  padding: 10px;
  width: '100%';
  border: 2px ridge #bdbdbd;
  align-items: 'center';
}

#transcribeTopLabel, 
#translateTopLabel, 
#configTopLabel {
  font-size: 16px;
  font-weight: bold;
}

#whisperConfigLabel, 
#deeplConfigLabel,
#configLabelLine {
  font-size: 14px;
  font-weight: bold;
  padding-top: 15px;
  /*border: 2px ridge #bdbdbd;*/
}

#whisperConfigLabel,
#deeplConfigLabel {
  padding-left: 10px;
}

#whisperConfigWidget,
#deeplConfigLabelWidget {
  width: '100%';
  flex-direction: row;
  justify-content: space-between;
  /*border: 2px ridge #bdbdbd;*/
}

#deeplConfigLabelWidget {
  padding-top: 25px;
}

#audioFileTopWidget, 
#translateFileTopWidget,
#whisperCLIConfigTopWidget,
#deeplAPIKeyWidget {
  flex-direction: row;
  width: '94%';
  /*border: 2px ridge #bdbdbd;*/
}

#deeplAPIKeyWidget {
  padding-top: 10px;
  padding-left: 25px;
}

#whisperCLIConfigWidget,
#whisperCLIConfigTopWidget,
#whisperCLIConfigL2Widget {
  padding-left: 10px;
  width: '94%';
  /*border: 2px ridge #bdbdbd;*/
}

#whisperCLIConfigWidget {
  margin-top: 10px;
}

#translateFileSpacerLabel {
  margin-right: 110px;
}

#transcribeButtonsSpacer1Label,
#transcribeButtonsSpacer2Label,
#transcribeButtonsSpacer3Label {
  margin-left: 10px;
}

#audioFileLanguageLabel {
  margin-left: 130px;
}

#translateFileArrowLabel {
  font-size: 18px;
}

#audioFileComboBox,
#translateFileComboBox {
  padding: 5px;
}

#whisperCLIPathLabel {
  margin-right: 2px;
}

#deeplAPIKeyLabel {
  margin-right: 2px;
}

#saveConfigWidget {
  padding: 15px;
  align-self: 'center';
  margin-top: 110px;
}

#selectAudioFileButton {
  width: 80px;
  height: 25px;
  margin-left: 4px;
}

#selectTranslateFileButton {
  width: 80px;
  height: 25px;
  margin-left: 4px;
}

#whisperOptionsToolButton {
  align-self: 'center';
  font-size: 12px;
  padding: 10px;
}

#whisperOptionsWidget {
  padding: 15px;
  border: 1px ridge #bdbdbd;
}

#whisperOptionsL1Widget,
#whisperOptionsL2Widget,
#whisperCustomParamsWidget {
  flex-direction: row;
  padding: 5px;
  /*flex: 1;*/
  /*justify-content: space-evenly;*/
  /*border: 1px ridge #bdbdbd;*/
}


#whisperDurationLineEdit {
  width: 75px;
}

#whisperCLILineEdit {
  margin-top: 2px;
  width: 500px;
}

#deeplAPIKeyLineEdit {
  width: 300px;
}

#whisperDataModelWidget, 
#whisperOutputFormatWidget,
#whisperCPUsWidget,
#whisperThreadsWidget {
  /*flex: 1;*/
  /*padding-top: 5px;*/
  /*padding-bottom: 10px;*/
  /*padding-left: 15px;*/
  padding-right: 10px;
  flex-direction: row;
  /*align-items: 'center';*/
  /*border: 1px ridge #bdbdbd;*/
  /*flex: min-content;*/
  /*justify-content: space-evenly;*/
  /*justify-content: 'space-around';*/
}

#whisperThreadsWidget {
  padding-right: 0px;
}

#whisperModelLabel,
#whisperOutputFormatLabel,
#whisperCPUsLabel,
#whisperThreadsLabel,
#whisperSegmentsLengthLabel,
#whisperDurationLabel {
  margin-right: 2px;
}

#whisperSegmentsLengthLabel {
  margin-left: 24px;
}

#whisperDiarizeCheckBox {
  margin-left: 7px;
}

#whisperSegmentsLengthLineEdit {
  width: 40px;
}

#whisperSegmentsLengthWidget,
#whisperDurationWidget,
#whisperDiarizeCheckBox {
  /*flex: 1;*/
  /*padding-left: 15px;*/
  /*padding-right: 15px;*/
  /*align-items: 'center';*/
  flex-direction: row;
  /*border: 1px ridge #bdbdbd;*/
  /*flex: min-content;*/
  /*justify-content: space-evenly;*/
}

#whisperCustomParamsWidget {
  padding-top: 10px;
  /*padding-bottom: 10px;*/
  /*padding-left: 15px;*/
  /*padding-right: 15px;*/
  /*align-items: 'center';*/
}

#whisperCustomParamsLineEdit {
  width: 500px;
}

#whisperCustomParamsLabel {
  margin-right: 2px;
}

#actionButtonsWidget {
  flex-direction: row;
  padding: 15px;
}

#statusBar {
  width: '100%';
}